<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <title>Admin page</title>
</head>
<body>
    <h1>Are you an admin?</h1>
    	 <nav>
        <ul>
            <li><a href="{{ url_for('add_book') }}">Add New Book</a></li>
	    <li><a href="{{ url_for('remove_book') }}">Remove Book</a></li>
	    <li><a href="{{ url_for('view_books') }}">View Book</a></li>
            <li><a href="{{ url_for('increase_book_amount') }}">Increase Book Amount</a></li>
	 </ul>
    </nav>

</body>
</html>
