<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body onload="funload()">
    <div class="background-container">
        <img src="{{ url_for('static', filename='Books/download (2).jpeg') }}" alt="Background" class="background-image">
    </div>
    <div id="topmid"><h1>Welcome to Online Book Store</h1></div>
    <br>
    <div class="login-options">
        <div class="login-header">Login or Signup Below</div>
        <div class="login-option"><a href="{{ url_for('login') }}">Login As User</a></div>
        <div class="login-option"><a href="{{ url_for('sign') }}">New user ! Register Here</a></div>
    </div>

</body>
</html>