<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sign-up.css') }}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <h2>Create account</h2>
            </div>
            <form class="sign-up-form" method="POST" action="{{ url_for('sign') }}">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    {{ form.username(placeholder="Your username") }}
                </div>
                <div class="form-field">
                    {{ form.email(placeholder="Your email") }}
                </div>
                <div class="form-field">
                    {{ form.password(placeholder="Password") }}
                </div>
                <div class="form-field">
                    {{ form.confirm_password(placeholder="Confirm Password") }}
                </div>
                {{ form.submit(class="form-button") }}
            </form>
            <div class="form-footer">
                <p>Already have an account? <a href="{{ url_for('login') }}" class="switch-form">Log in</a></p>
            </div>
        </div>
    </div>
</body>
</html>
